.caption {
  margin-top: 118px;
  text-align: center;

  h1 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .description-title {
    font-size: 2rem;
    padding-bottom: 88px;
    max-width: 740px;
    margin: 0 auto;
  }
}
