@import "./variables";
@import "./bootstrap";
@import "./header";
@import "../node_modules/swiper/dist/css/swiper.min";
@import "./main-swiper";
@import "./btn-sandwich";
@import "./feature_section";
@import "./footer";
@import "./layout";
@import "../node_modules/font-awesome-sass/assets/stylesheets/font-awesome";

body {
  font-family: 'PT Sans', Arial, sans-serif;
  color: map-get($colors, primary);
  min-width: $min-width;
  max-width: $max-width;
}

.container {
  max-width: 1024px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
